<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/main.css">
        <script src="https://cdn.master.co/css"></script>
        <link href="https://unpkg.com/@master/keyframes.css" rel="stylesheet">
        <link rel="icon" href="../static/favicon.ico">

        <title>Newland 編程</title>
    </head>
    <body>
        <div class="abs  top:0 right:0 h:100% w:100% bg:linear-gradient(to|bottom,#CAA870,#8BAFFC) bg:linear-gradient(to|bottom,#06299C,#A9CFC9)@dark">
            
            <div class="fixed inline-block h:10% w:100% top:0 left:0 ">
                <h1 class="fixed f:40@md f:30 top:-20px@md top top:-10px left:2% color:white">Newland 編程</h1>
                <i id="DMButton" class="gg-edit-contrast rel top:24px@xs top:28px@md top:25px left:95%@xs left:85% cursor:pointer color:white"></i>
            </div>

            <div id="top" class="abs top:10% left:40%@md left:30%@xs left:5%">
                        <span class="f:18 f:20@xs f:25@md fixed top:20%@md top:10% left:60%@md left:35%@xs left:30% color:white">
                            <b>
                                <p>
                                    這裡提供了最便宜的
                                    <li>Discord Bot 編寫服務</li>
                                    <br />
                                    <li>Website 編寫服務</li>
                                    <br />
                                    <li>Server 架設服務</li>
                                    <br />
                                    我們伺服器架設分為【付費 | 免費】版
                                    <br>
                                    免費版預設為【Ram:2048MB | CPU:100% | Disk:5GB】
                                    <br />
                                    詳情請至Discord詢問
                                </p>
                            </b>
                        </span>
            </div>
        </div>
        <script src="../static/main.js"></script>
    </body>
</html>